<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.campusai.mapper.SpringAiChatMemoryMapper">
    
    <resultMap type="SpringAiChatMemory" id="SpringAiChatMemoryResult">
        <result property="id"    column="id"    />
        <result property="conversationId"    column="conversation_id"    />
        <result property="content"    column="content"    />
        <result property="type"    column="type"    />
        <result property="timestamp"    column="timestamp"    />
    </resultMap>

    <sql id="selectSpringAiChatMemoryVo">
        select id, conversation_id, content, type, timestamp from SPRING_AI_CHAT_MEMORY
    </sql>

    <select id="selectSpringAiChatMemoryList" parameterType="SpringAiChatMemory" resultMap="SpringAiChatMemoryResult">
        <include refid="selectSpringAiChatMemoryVo"/>
        <where>  
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="timestamp != null "> and timestamp = #{timestamp}</if>
        </where>
    </select>
    
    <select id="selectSpringAiChatMemoryById" parameterType="Long" resultMap="SpringAiChatMemoryResult">
        <include refid="selectSpringAiChatMemoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSpringAiChatMemory" parameterType="SpringAiChatMemory" useGeneratedKeys="true" keyProperty="id">
        insert into SPRING_AI_CHAT_MEMORY
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="conversationId != null and conversationId != ''">conversation_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="timestamp != null">timestamp,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="conversationId != null and conversationId != ''">#{conversationId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="timestamp != null">#{timestamp},</if>
         </trim>
    </insert>

    <update id="updateSpringAiChatMemory" parameterType="SpringAiChatMemory">
        update SPRING_AI_CHAT_MEMORY
        <trim prefix="SET" suffixOverrides=",">
            <if test="conversationId != null and conversationId != ''">conversation_id = #{conversationId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="timestamp != null">timestamp = #{timestamp},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSpringAiChatMemoryById" parameterType="Long">
        delete from SPRING_AI_CHAT_MEMORY where id = #{id}
    </delete>

    <delete id="deleteSpringAiChatMemoryByIds" parameterType="String">
        delete from SPRING_AI_CHAT_MEMORY where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>